* {
  box-sizing: border-box;
}

.img-class {
  border-radius: 0.4em;
  border: 2px solid #000;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

@media only screen and (min-width: 768px) {
  .main-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
  }

  .img-class {
    width: 17em;
  }
}